<aside>
    <div class="aside__container">
        <img src="./images/myself.jpg" alt="My profile photo" width="150" height="150" class="aside__image">
        <div class="aside__dot"></div>
        <h4 class="aside__title">Patryk Szafranek</h4>
        <p class="aside__subtitle">Front-end Developer</p>
        <div class="aside__social">
            <ul class="aside__social-list">
                <li class="aside__social-item">
                    <a href="https://www.facebook.com/SiwyOzw">
                        <svg width="18" height="18">
                            <use href="./images/icons.svg#icon-facebook"></use>
                        </svg></a>
                </li>
                <li class="aside__social-item"><a href="https://www.linkedin.com/in/patryk-szafranek-133a42255/">
                        <svg width="18" height="18">
                            <use href="./images/icons.svg#icon-linkedin2"></use>
                        </svg></a>
                </li>
                <li class="aside__social-item"><a href="https://github.com/patrykszafranek">
                        <svg width="18" height="18">
                            <use href="./images/icons.svg#icon-github"></use>
                        </svg></a>
                </li>
            </ul>
        </div>
        <div class="line"></div>
        <div>
            <ul class="aside__personal-list">
                <li class="aside__personal-item"><span class="aside__personal-item--left">Age: </span> <span
                        class="aside__personal-item--right">28</span></li>
                <li class="aside__personal-item"><span class="aside__personal-item--left">Residence:</span>
                    <span class="aside__personal-item--right">PL</span>
                </li>
                <li class="aside__personal-item"><span class="aside__personal-item--left">Freelance:</span>
                    <span class="aside__personal-item--right available">Available</span>
                </li>
                <li class="aside__personal-item"><span class="aside__personal-item--left">Address:</span><span
                        class="aside__personal-item--right">Ozorków,
                        Poland</span></li>
            </ul>
        </div>
        <div class="line"></div>
        <div class="aside__languages">
            <h4 class="aside__languages-title">Languages</h4>
            <ul class="aside__languages-list">
                <li class="aside__languages-item"><span class="aside__languages-item--left">Polish (native)</span><span
                        class="aside__languages-item--right">100%</span></li>
                <div class="meter">
                    <div class="skill polish"></div>
                </div>
                <li class="aside__languages-item"><span class="aside__languages-item--left">English</span><span
                        class="aside__languages-item--right">70%</span></li>
                <div class="meter">
                    <div class="skill english"></div>
                </div>
            </ul>
        </div>
        <div class="line"></div>
        <div class="aside__skills">
            <h4 class="aside__skills-title">Skills</h4>
            <ul class="aside__skills-list">
                <li class="aside__skills-item"><span class="aside__skills-item--left">HTML</span><span
                        class="aside__skills-item--right">90%</span></li>
                <div class="meter">
                    <div class="skill html"></div>
                </div>
                <li class="aside__skills-item"><span class="aside__skills-item--left">CSS</span><span
                        class="aside__skills-item--right">85%</span></li>
                <div class="meter">
                    <div class="skill css"></div>
                </div>
                <li class="aside__skills-item"><span class="aside__skills-item--left">JavaScript</span><span
                        class="aside__skills-item--right">60%</span></li>
                <div class="meter">
                    <div class="skill js"></div>
                </div>
            </ul>
        </div>
        <div class="line"></div>
        <div class="aside__extra">
            <h4 class="aside__extra-title">Extra Skills</h4>
            <ul class="aside__extra-list">
                <li class="aside__extra-item"><svg width="15" height="15" class="aside__extra-svg">
                        <use href="./images/icons.svg#icon-square"></use>
                    </svg><span class="aside__extra-text">Sass, Stylus, Less</span>
                <li class="aside__extra-item"><svg width="15" height="15" class="aside__extra-svg">
                        <use href="./images/icons.svg#icon-square"></use>
                    </svg><span class="aside__extra-text">Flex, Grid</span>
                <li class="aside__extra-item"><svg width="15" height="15" class="aside__extra-svg">
                        <use href="./images/icons.svg#icon-square"></use>
                    </svg><span class="aside__extra-text">Webpack, REST API</span>
                <li class="aside__extra-item"><svg width="15" height="15" class="aside__extra-svg">
                        <use href="./images/icons.svg#icon-square"></use>
                    </svg><span class="aside__extra-text">GIT Knowledge</span>
            </ul>
        </div>
    </div>
</aside>